appdirs==1.4.4
astor==0.8.1
atomicwrites==1.4.0
autograd==1.7.0
jsonpointer==2.1
Lifetimes==0.11.3
lightgbm==4.5.0
matplotlib==3.9.2
missingno==0.5.2
mlxtend==0.23.1
protobuf==3.20.3
mkl-service==2.4.2
pyasn1-modules==0.2.8
pycurl==7.45.2
pydotplus==2.0.2
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pywin32==305.1
scikit-surprise==1.1.4
setuptools==69.5.1
SKompiler==0.7
surprise==0.1
wheel==0.43.0
xgboost==2.1.2
